* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.left {
    width: 25vw;
    padding: 10px;
}

.home ul li {
    list-style: none;
    width: 16px;
    display: flex;
    color: white;
    gap: 15px;
    padding-top: 14px;
}

.heading {
    display: flex;
    color: white;
    gap: 15px;
    padding-top: 14px;
}


.heading img {
    width: 20px;
}

.library {
    height: 80vh;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}