.right {
    width: 75vw;
    margin: 14px 0;
    position: relative;
    box-sizing: border-box;

}

.header {
    background-color: #3a3838;
    display: flex;
    justify-content: space-between;
}

.buttons>button {
    color: black;
    padding: 3px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}

.spotify-playlist {
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    padding: 20px;
    height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    background-color: #3a3838;
    border-radius: 10px;
    width: 98%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}


.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(100, 98, 98);
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songConten {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songsbutton {
    display: flex;
    justify-content: center;
    gap: 16px;
}


.songinfo {
    padding: 0 12px;

}

.songtime {

    padding: 0 12px;
}

.humburger {
    display: none;
    cursor: pointer;
}

.humburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

@media (max-width: 1200px) {

    .right {
        width: 100vw;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .playbar {
        width: calc(100vw - 120px);
        right: 25px;
    }

    .seekbar {
        width: calc(100vw - 120px);
        right: 25px;
    }

    .humburger {
        display: block;
    }

    .card {
        width: 55vw;
    }

    .cards {
        margin: 0;
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }


    .songConten {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

}

@media (max-width:500px) {
    .card {
        width: 100%;
    }

    .header {
        padding: 7px;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .spotify-playlist {
        padding: 4px;
    }


}